export DOCKER_HOST=tcp://localhost:2375
export PATH="$HOME/.tfenv/bin:$PATH"
export DOCKER_HOST=tcp://localhost:2375
export SDKMAN_DIR="/home/sam/.sdkman"
[[ -s "/home/sam/.sdkman/bin/sdkman-init.sh" ]] && source "/home/sam/.sdkman/bin/sdkman-init.sh"

