function cdf () {
  # cd into whatever is the forefront Finder window.
  local path=$(osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)')
  echo "$path"
  cd "$path"
}

function aws_config () {
  export AWS_SDK_LOAD_CONFIG="true"
}

function jwtdecode() {
  jq -R 'split(".") | .[0],.[1] | @base64d | fromjson' <<< "$1"
}
